.weekday {
    text-align: center;
    background-color:azure;
    border-radius: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
}

.weekdayDate {
    font-size: 32px;
}

.weekdayCast {
    font-size: 12px;
}

.weekdayLowTemp {
    font-size: 24px;
    margin-top: 0em;
    padding-top: 0em;
    color: blue;
}

.weekdayHighTemp {
    font-size: 48px;
}