.weather {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.weatherCenter {
    width: 75%;
}

@media (min-width: 768px) {
    .weather{
      flex-direction: row;
      align-items: flex-start;
    }
  }