.todayTemperature {
    padding-left:0.5em;
    padding-right:0.5em;
    margin-top: 0em;
    margin-bottom:0em;
    font-family: var(--font-temp);
}

.rainAndWindContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
}

#lowTemp {
    font-size: 48px;
    color: var(--color-temp-low);
    padding-top: 1.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#nowTemp {
    font-size: 64px;
    font-weight: normal;
    padding-left: 0em;
    padding-right: 0em;
}

#highTemp {
    font-size: 48px;
    color: var(--color-temp-high);
    padding-bottom: 1.5em;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

.todayIcon {
    width: 2.5em;
    height: 2.5em;
    display: block;
    margin: 0 auto;
}