.todayObserved {
    background-color:azure;
    border-radius: 1em;
}

.latestObservationsLabel {
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: normal;
    font-size: 40px;
}

.stationInformation {
    margin-top: 0em;
    font-weight: normal;
    font-size: 24px;
}

.observationsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
}

.metarString {
    font-size: 12px;
}