.header {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure full width */
    flex-wrap: wrap; /* Allow wrapping */
    border-bottom: .1em solid var(--color-border); /* Subtle border for separation */
    background-color: var(--color-header);
}
.headerTitle {
    padding-left: 1em;
    margin-right: 1em;
    font-size: 64px;
    font-weight: normal;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    min-width: 320px;
    font-family: var(--font-header);
}

/* Add media query for mobile devices */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .headerTitle {
        margin-right: 0;
        font-size: 48px; /* Slightly smaller on mobile */
        text-align: center;
    }
}